*,
*::after,
*::before {
  margin: 0; /* by default all the browser will have some padding and margin so setting it to 0*/
  padding: 0;
  box-sizing: inherit;
}

html {
  // defines what 1rem is
  font-size: 62.5%;
}
body {
  box-sizing: border-box; /* border and padding not added to border-box*/
}
