.u-center-text { text-align: center; }

.u-margin-bottom-big { padding-bottom: 8rem; }
.u-margin-bottom-medium { padding-bottom: 6rem; }
.u-margin-bottom-small { padding-bottom: 1.5rem; }

.u-margin-top-big { margin-top: 8rem; }
.u-margin-top-huge { margin-top: 10rem; }